.App {
  text-align: center;
}


@media only screen and (max-width: 600px) {
 /* for mobile devices, coming soon! */
 /* key thing to put here: hiding stuff extraneous to mobile usage into a dropdown */
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picrossHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



